@media (min-width:800px){
    ion-icon {
        font-size: 2rem;
        color: var(--color-primary-light);
    }
    .closed-card {
        display: block;
        background-color: white;
        flex-direction: column;
        height: 11rem;
        width: 20rem;
        padding: 1rem;
        margin-bottom: 1rem;
        border-radius: 1rem;
        box-shadow: var(--color-primary) 5px 5px 10px;
        border: none;
    }

    .openned-card {
        display: flex;
        background-color: #fff;
        flex-direction: column;
        height: 20rem;
        width: 20rem;
        padding: 1rem;
        margin-bottom: 1rem;
        border-radius: 1rem;
        box-shadow: var(--color-primary) 10px 10px 20px;
        border: none;
    }

    .card-container {
        flex-direction: row;
        flex-wrap: wrap;
        width: 90%;
        height: inherit;
        gap: 1rem;
        padding: 1rem;
    }


    .card-content-group {
        height: 100%;
        width: 100%;
        text-align: center;
    }

    .card-content-group>div {
        height: 50%;
    }
}
@media (max-width:800px){

    ion-icon {
        font-size: 2rem;
        color: red;
    }
    .closed-card {
        display: block;
        background-color: white;
        flex-direction: column;
        height: 11rem;
        width: 15rem;
        padding: 1rem;
        margin-bottom: 1rem;
        border-radius: 1rem;
        box-shadow: var(--color-primary) 2.5px 2.5px 2.5px;
        border: none;
    }
    
    .openned-card {
        display: flex;
        background-color: #fff;
        flex-direction: column;
        height: 20rem;
        width: 15rem;
        padding: 1rem;
        margin-bottom: 1rem;
        border-radius: 1rem;
        box-shadow: var(--color-primary) 2.5px 2.5px 2.5px;
        border: none;
    }

    .card-container {
        flex-direction: row;
        flex-wrap: wrap;
        width: 90%;
        height: inherit;
        gap: 1rem;
        padding: 1rem;
    }

    .card-content-group {
        height: 100%;
        width: 100%;
        text-align: center;
    }

    .card-content-group>div {
        height: 50%;
    }
}