<button class="container container-arrounded hidden-effect closed-card" on>
    <div class="card-content-group container container-arounded card-title-container">
        <div class="container">
            <ion-icon name="heart"></ion-icon>
        </div>
        <div class="container">{{card.tittle}}</div>
            
    </div>
    <div class="card-content-group container">
        {{card.text}}
    </div>
    <div class="card-content-group container-arrounded">
        <div class=" container">
            {{card.date}}
        </div>
        <div class=" container">
            {{card.user}}
        </div>
    </div>
</button>

