@import url(./partials/header.css);
@import url(./partials/footer.css);
/* reset css */
*{
    /* border: solid 1px; */
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style: none;
    color: black;
    box-sizing: border-box;
    font-family: var(--font-family-title);
}

:root{
    --color-primary: red;
    --color-primary-light:rgb(149, 5, 5) ;
    --color-primary-dark:rgb(45, 1, 1) ;

    --contrast-color: rgb(255, 255, 255);

    --font-family-title: 'verdana', sans-serif;
    --font-size-title: 1rem
}

body{
    height: 100vh;
    padding-bottom: 3rem;
}
main{
    height: fit-content;
    padding: 1rem;
}
.container {
    display: flex;
    align-items: center;
    justify-content: center;
}
.container-arounded {
    justify-content: space-around;
    flex-direction: row;
}

.hidden-effect {
    opacity: 0;
    transform: translateY(-10px)
}

.show-effect {
    display: block;
    overflow: hidden;
    opacity: 1;
    filter: blur(0);
    transition: 0.5s;
    transform: translateY(0)
}

/* :root{
    --color-primary: blue;
    --color-primary-light:rgb(5, 5, 149) ;
    --color-primary-dark:rgb(1, 1, 45) ;

    --contrast-color: white;

    --font-family-title: 'verdana', sans-serif;
    --font-size-title: 1rem
} */